body {
    font-family: 'Kiwi Maru', sans-serif;
    background-color: #8BFFFF;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top {
    display: flex;
    width: 100%;
    height: 30%;
}

.bottom {
    display: flex;
    width: 100%;
    height: 70%;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left {
    display: flex;
    justify-content: left;
}

.top-right {
    display: flex;
}

.bottom-left {
    background-color: #FFA500;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.bottom-right {
    background-color: #82E3E3;
    display: flex;
    flex-direction: column;
    width: 30%
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.top-left .circle{
    margin-left: 20px;
}

.circle img {
    width: 100%;
    height: auto;
}

.circle2 img {
    width: 100%;
    height: auto;
}

.text {
    color: #9D7203;
    margin-left: 10px;
}

.top-left img {
    padding: 0px;
}

.top-left h2 {
    margin-left: 50px;
    font-size: 48px;
}

.top-left ul {
    margin-left: 50px;
    font-size: 18px;
    margin-top: -10px;
}

.top-right h2 {
    color: black;
    font-size: 48px;
}

.top-right-text {
    margin-left: 10px;
}

.top-right-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}

.project {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h3 {
    color: black;
}

.project img {
    width: 300px;
    height: 200px;
}

.bottom-right h2 {
    color: #9D7203;
    margin-top: 5px;
    font-size: 48px;
}

.bottom-right h4 {
    color: black;
    font-size: 30px;
}

.bottom-right img {
    width: 100px;
    height: 100px;
}